#master-div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: rgb(212, 179, 125);
}

#top-div {
	position: relative;
	height: 100vh;
}

#arrow-div {
	position: relative;
	top: 93%;
	height: 5%;
	text-align: center;
}

@keyframes down_arrow {
	0% {opacity: 0.25;}
	50% {opacity: 1;}
	100% {opacity: 0.25;}
}

#arrow-div img {
	height: 100%;
	width: auto;
	animation: down_arrow 1.5s infinite;
}

#bottom-div {
	background-color: black;
	position: relative;
	width: 100%;
	margin: auto;
	color:yellow;
	top: 100%;
}

#bottom-div img {
	width: 100%;
	height: auto;
	display: block;
}
